html, body {
    height: 100%;
}

body {
    align-items: center;
    font-family: 'Parisienne', cursive;
}

.menu, .footer {
    background: #FF5291;
}

.nav-link{
    color: #FFFFFF;
}

.nav-link:hover {
    color: #FE9FC2;
}